@charset "UTF-8";
@font-face {
  font-family: "Nova";
  src: url("../fonts/proximanova_regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Nova";
  src: url("../fonts/proximanova_semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Nova";
  src: url("../fonts/proximanova_bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
html:has(.sealant-master) {
  scroll-behavior: smooth;
}

.sealant-master {
  font-family: "Nova", tahoma, sans-serif;
  box-sizing: border-box;
  font-size: 24px;
  background-color: #fff;
  overflow: hidden;
  color: #272E31;
}
@media (max-width: 1420px) {
  .sealant-master {
    font-size: 22px;
  }
}
@media (max-width: 1023px) {
  .sealant-master {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .sealant-master {
    font-size: 14px;
  }
}
.sealant-master * {
  box-sizing: border-box;
}
.sealant-master a {
  text-decoration: none;
}
.sealant-master ul {
  list-style: none;
}
.sealant-master table {
  border-collapse: collapse;
  border-spacing: 0;
}
.sealant-master img {
  border: 0;
}
.sealant-master .tnm-section {
  width: 100%;
  position: relative;
}
.sealant-master .tnm-section__bg {
  position: absolute;
  left: 50%;
  top: 0;
  width: 100vw;
  max-width: 1440px;
  height: 100%;
  transform: translateX(-50%);
}
.sealant-master .tnm-section__bg img {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.sealant-master .tnm-section__title {
  font-weight: 600;
  font-size: 46px;
  line-height: 120%;
  text-transform: uppercase;
  color: #272E31;
}
@media (max-width: 899px) {
  .sealant-master .tnm-section__title {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  .sealant-master .tnm-section__title {
    font-size: 24px;
  }
}
.sealant-master .tnm-container {
  width: 100%;
  position: relative;
}
.sealant-master .tnm-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 29.5px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.43em;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #E30613;
  transition: all 0.3s linear;
  min-height: 56px;
}
@media (max-width: 1320px) {
  .sealant-master .tnm-btn {
    padding: 15px 20px;
    font-size: 12px;
  }
}
@media (max-width: 599px) {
  .sealant-master .tnm-btn {
    padding: 10px 15px;
    font-size: 10px;
    min-height: 42px;
  }
}
.sealant-master .tnm-btn--white {
  width: 100%;
  background-color: #fff;
  outline: none;
  border: none;
  box-shadow: none;
  color: #1B4052;
  padding: 6px 12px;
  min-height: 30px;
  font-weight: 600;
  font-size: 15px;
  line-height: 100%;
  text-transform: uppercase;
}
.sealant-master .tnm-prod {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
}
@media (max-width: 599px) {
  .sealant-master .tnm-prod {
    width: 100%;
    max-width: 330px;
  }
}
.sealant-master .tnm-prod__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
  z-index: 1;
}
.sealant-master .tnm-prod__bg img {
  width: 100%;
  height: 100%;
}
.sealant-master .tnm-prod__img {
  position: absolute;
  z-index: 3;
  width: 195px;
  left: 0;
  bottom: 0;
  overflow: hidden;
}
@media (max-width: 1023px) {
  .sealant-master .tnm-prod__img {
    width: 170px;
  }
}
@media (max-width: 899px) {
  .sealant-master .tnm-prod__img {
    width: 160px;
  }
}
.sealant-master .tnm-prod__img img {
  width: 100%;
}
@media (max-width: 1320px) {
  .sealant-master .tnm-prod__img img {
    position: relative;
    left: -30px;
  }
}
@media (max-width: 1320px) and (max-width: 1023px) {
  .sealant-master .tnm-prod__img img {
    left: -38px;
  }
}
@media (max-width: 1320px) and (max-width: 899px) {
  .sealant-master .tnm-prod__img img {
    left: 0;
  }
}
@media (max-width: 1320px) and (max-width: 767px) {
  .sealant-master .tnm-prod__img img {
    left: -34px;
  }
}
@media (max-width: 1320px) and (max-width: 599px) {
  .sealant-master .tnm-prod__img img {
    left: 0;
  }
}
.sealant-master .tnm-prod__content {
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  gap: 20px;
  width: 202px;
}
@media (max-width: 1023px) {
  .sealant-master .tnm-prod__content {
    width: 190px;
    gap: 16px;
  }
}
@media (max-width: 899px) {
  .sealant-master .tnm-prod__content {
    width: 220px;
    min-height: 240px;
  }
}
@media (max-width: 767px) {
  .sealant-master .tnm-prod__content {
    width: 190px;
    gap: 12px;
  }
}
.sealant-master .tnm-prod__icon {
  align-self: flex-end;
  margin-right: 9px;
  margin-top: 10px;
  width: 70px;
  height: 70px;
  border-radius: 4px;
  overflow: hidden;
}
@media (max-width: 1023px) {
  .sealant-master .tnm-prod__icon {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 767px) {
  .sealant-master .tnm-prod__icon {
    width: 40px;
    height: 40px;
  }
}
.sealant-master .tnm-prod__icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.sealant-master .tnm-prod__info {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
  padding: 16px;
  flex: 1 0 auto;
  color: #fff;
}
@media (max-width: 1023px) {
  .sealant-master .tnm-prod__info {
    padding: 12px;
  }
}
.sealant-master .tnm-prod--blue .tnm-prod__info {
  background-color: #1286C5;
}
.sealant-master .tnm-prod--brown .tnm-prod__info {
  background-color: #B18124;
}
.sealant-master .tnm-prod--purple .tnm-prod__info {
  background-color: #9A599A;
}
.sealant-master .tnm-prod--green .tnm-prod__info {
  background-color: #51843E;
}
.sealant-master .tnm-prod--grey .tnm-prod__info {
  background-color: #828282;
}
.sealant-master .tnm-prod--black .tnm-prod__info {
  background-color: #252525;
}
.sealant-master .tnm-prod__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 122%;
}
@media (max-width: 899px) {
  .sealant-master .tnm-prod__title {
    font-size: 16px;
  }
}
.sealant-master .tnm-prod__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -0.02em;
  margin-bottom: auto;
}
.sealant-master .tnm-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}
.sealant-master .tnm-text p,
.sealant-master .tnm-text ul,
.sealant-master .tnm-text li {
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}
.sealant-master .tnm-text * {
  margin: 0;
  padding: 0;
}
.sealant-master .tnm-text > * {
  margin-top: 0.625em;
}
.sealant-master .tnm-text > *:first-child {
  margin-top: 0;
}
.sealant-master .tnm-text li {
  position: relative;
  padding-left: 1em;
}
.sealant-master .tnm-text li:before {
  content: "";
  position: absolute;
  left: 0em;
  top: 0.625em;
  width: 0.375em;
  height: 0.375em;
  background-color: #272E31;
  border-radius: 100%;
}
.sealant-master .tnm-text li + li {
  margin-top: 10px;
}
.sealant-master .tnm-purpose {
  position: relative;
  padding-left: 22px;
}
.sealant-master .tnm-purpose__desc {
  margin-top: 16px;
}
@media only screen and (max-width: 1023px) {
  .sealant-master .tnm-purpose__desc {
    margin-top: 6px;
  }
}
.sealant-master .tnm-purpose__title {
  font-size: 24px;
}
@media only screen and (max-width: 1023px) {
  .sealant-master .tnm-purpose__title {
    font-size: 20px;
  }
}
.sealant-master .tnm-purpose__icon {
  position: absolute;
  left: 0;
  top: 4.5px;
}
@media only screen and (max-width: 1023px) {
  .sealant-master .tnm-purpose__icon {
    top: 7px;
  }
}
.sealant-master .tnm-purpose__icon svg {
  width: 12px;
  height: 20px;
}
@media only screen and (max-width: 1023px) {
  .sealant-master .tnm-purpose__icon svg {
    width: 8px;
    height: 13px;
  }
}
.sealant-master .tnm-menu {
  display: flex;
  align-items: stretch;
  gap: 34px;
}
@media only screen and (max-width: 767px) {
  .sealant-master .tnm-menu {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }
}
.sealant-master .tnm-menu__item, .sealant-master .tnm-menu__item a {
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  color: #262E3F;
}
@media only screen and (max-width: 767px) {
  .sealant-master .tnm-menu__item, .sealant-master .tnm-menu__item a {
    color: #fff;
    padding: 12px 0;
  }
}
.sealant-master .tnm-header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 20;
  background-color: #fff;
}
.sealant-master .tnm-header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 26px 0;
}
@media only screen and (max-width: 767px) {
  .sealant-master .tnm-header__row {
    padding: 16px 0;
  }
}
@media only screen and (max-width: 767px) {
  .sealant-master .tnm-header__menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 320px;
    height: 100vh;
    position: fixed;
    right: -320px;
    top: 0;
    padding: 20px;
    gap: 15px;
    background-color: #272E31;
    transition: right 0.3s linear;
    z-index: 50;
  }
  .sealant-master .tnm-header__menu.active {
    right: 0%;
  }
}
.sealant-master .tnm-header__logo {
  width: 182px;
  flex: 0 0 auto;
}
.sealant-master .tnm-header__logo img {
  width: 100%;
}
.sealant-master .burger-open,
.sealant-master .burger-close {
  display: none;
}
@media only screen and (max-width: 767px) {
  .sealant-master .burger-open,
  .sealant-master .burger-close {
    display: flex;
    background-color: transparent;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    color: #272E31;
  }
}
@media only screen and (max-width: 767px) {
  .sealant-master .burger-close {
    display: flex;
    background-color: transparent;
    padding: 0;
    margin: 0;
    color: #fff;
    width: 20px;
    height: 20px;
    align-self: flex-end;
  }
}
.sealant-master .burger-close svg {
  width: 20px;
  height: 20px;
}
.sealant-master .burger-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s linear;
  z-index: 45;
}
.sealant-master .burger-overlay.active {
  visibility: visible;
  opacity: 1;
}
.sealant-master .tnm-intro {
  margin-top: 84px;
}
@media only screen and (max-width: 767px) {
  .sealant-master .tnm-intro {
    margin-top: 64px;
  }
}
.sealant-master .tnm-intro .tnm-section__bg:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 51vw;
  right: 50%;
  top: 0;
  background: linear-gradient(to bottom, #d0dee4 0%, #cfdce2 1%, #d1dee4 3%, #d1dee4 17%, #d3dee7 21%, #d3dee7 38%, #d0dde5 46%, #d2dfe6 46%, #d2dfe6 58%, #cfdee5 61%, #d1dfe6 70%, #cddde3 80%, #cedde4 85%, #cbdae1 88%, #c9d9e1 89%, #cadae2 92%, #cddde4 94%, #dfedf5 94%, #e7f3f9 95%, #e7f2fa 97%, #e2eff7 100%);
}
.sealant-master .tnm-intro .tnm-section__bg:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 51vw;
  left: 50%;
  top: 0;
  background: linear-gradient(to bottom, #b3bdc9 0%, #b5bfc9 1%, #b3bdc6 3%, #b5bfc8 4%, #b6c0ca 7%, #b4bec8 8%, #b2bfc7 9%, #b7c1cb 11%, #b6c0ca 14%, #b7c1cb 15%, #b9c3cd 18%, #b8c5ce 19%, #bac2cd 20%, #b6c4cd 21%, #b9c3cd 23%, #bac4ce 25%, #b7c4cc 27%, #bbc4cd 28%, #bbc3d0 31%, #b8c2cb 33%, #bac4cd 34%, #b9c3cc 35%, #bcc6cf 37%, #bbc5ce 40%, #bcc6cf 41%, #bcc5ce 47%, #b9c6ce 48%, #bdc6cf 60%, #bac7cf 61%, #bac7d0 64%, #b9c8cf 65%, #bdc7d0 68%, #bcc6cf 74%, #bac4cd 75%, #bbc5ce 76%, #b8c2cb 78%, #b7c1ca 79%, #b7c1cb 80%, #b2bcc6 81%, #b0bac4 83%, #99A5B1 88%, #677381 93.5%, #5F6B79 93.7%, #808E9C 94.3%, #8D9DAB 96%, #8D9DAB 96.3%, #cbd5df 97%, #cbd5de 98%, #cad4dd 100%);
  z-index: -1;
}
@media (max-width: 599px) {
  .sealant-master .tnm-intro .tnm-section__bg {
    display: flex;
    background: linear-gradient(to right, #d6e3e9 0%, #cfdce2 0%, #d3e0e6 0%, #d5e2e8 5%, #d9e4ea 6%, #d7e4ea 7%, #dce7ed 10%, #dae7ed 11%, #e0ebf1 14%, #e2edf3 14%, #e0ebf1 15%, #e2edf3 15%, #e3ecf1 16%, #e6eff6 17%, #e6eff6 18%, #eaeff5 18%, #ebf0f6 18%, #e3eaf0 21%, #e2e9ef 24%, #dfe6ec 25%, #dee7ec 27%, #dce3e9 28%, #dde4ea 29%, #d8e1e6 31%, #d5dee3 37%, #d2dbe0 38%, #d2dbe0 40%, #ccd5da 44%, #cbd4db 46%, #cad3d8 46%, #cad3da 48%, #c8d1d6 49%, #c8d1d8 50%, #c6cfd6 50%, #c5d0d6 54%, #c3ccd3 55%, #c2cdd3 57%, #bfcad0 60%, #c0cbd1 62%, #bec9cf 62%, #c0cbd1 62%, #bdc8ce 63%, #bec8d1 64%, #bbc5ce 64%, #bcc6cf 67%, #b9c3cc 71%, #b8c2cb 78%, #b6c0c9 79%, #b6c0c9 83%, #b8c2cb 84%, #b6c0c9 84%, #b5bfc9 100%);
  }
  .sealant-master .tnm-intro .tnm-section__bg::after, .sealant-master .tnm-intro .tnm-section__bg::before {
    content: none;
  }
  .sealant-master .tnm-intro .tnm-section__bg img {
    margin-top: auto;
    height: auto;
  }
}
.sealant-master .tnm-intro__content {
  position: relative;
  min-height: 695px;
  padding: 83px 0 102px;
  z-index: 5;
}
@media (max-width: 1320px) {
  .sealant-master .tnm-intro__content {
    min-height: 500px;
    padding: 48px 0 64px;
  }
}
@media (max-width: 1023px) {
  .sealant-master .tnm-intro__content {
    min-height: 400px;
    padding: 32px 0 42px;
  }
}
@media (max-width: 767px) {
  .sealant-master .tnm-intro__content {
    min-height: 330px;
    padding: 24px 0 32px;
  }
}
@media (max-width: 599px) {
  .sealant-master .tnm-intro__content {
    padding: 24px 0 160px;
  }
}
@media (max-width: 530px) {
  .sealant-master .tnm-intro__content {
    padding: 24px 0 133px;
  }
}
.sealant-master .tnm-intro__title {
  max-width: 680px;
  font-weight: 700;
  font-size: 62px;
  line-height: 120%;
  text-transform: uppercase;
  color: #272E31;
}
@media (max-width: 1023px) {
  .sealant-master .tnm-intro__title {
    font-size: 48px;
  }
}
@media (max-width: 767px) {
  .sealant-master .tnm-intro__title {
    font-size: 36px;
  }
}
@media (max-width: 599px) {
  .sealant-master .tnm-intro__title {
    font-size: 30px;
  }
}
.sealant-master .tnm-intro__text {
  max-width: 490px;
  margin: 110px 0 54px;
  font-weight: 600;
  line-height: 149%;
}
@media (max-width: 1320px) {
  .sealant-master .tnm-intro__text {
    max-width: 470px;
    margin: 50px 0 40px;
  }
}
@media (max-width: 1023px) {
  .sealant-master .tnm-intro__text {
    max-width: 330px;
    margin: 32px 0 24px;
  }
}
@media (max-width: 767px) {
  .sealant-master .tnm-intro__text {
    max-width: 270px;
    margin: 24px 0 16px;
  }
}
@media (max-width: 599px) {
  .sealant-master .tnm-intro__text {
    max-width: none;
  }
}
.sealant-master .tnm-compare {
  padding: 71px 0 37px;
}
@media (max-width: 1023px) {
  .sealant-master .tnm-compare {
    padding: 42px 0 32px;
  }
}
@media (max-width: 599px) {
  .sealant-master .tnm-compare {
    padding: 30px 0;
  }
}
.sealant-master .tnm-compare__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}
@media (max-width: 767px) {
  .sealant-master .tnm-compare__header {
    gap: 20px;
  }
}
@media (max-width: 599px) {
  .sealant-master .tnm-compare__header {
    flex-direction: column;
    align-items: flex-start;
  }
}
.sealant-master .tnm-compare__title {
  max-width: 650px;
}
@media (max-width: 899px) {
  .sealant-master .tnm-compare__title {
    max-width: 440px;
  }
}
@media (max-width: 599px) {
  .sealant-master .tnm-compare__title {
    max-width: none;
  }
}
.sealant-master .tnm-compare__decor {
  flex: 0 0 auto;
  display: flex;
  align-items: stretch;
  gap: 4px;
  margin-right: -73px;
}
@media (max-width: 1320px) {
  .sealant-master .tnm-compare__decor {
    margin-right: -10px;
  }
}
@media (max-width: 599px) {
  .sealant-master .tnm-compare__decor {
    margin-right: 0;
  }
}
.sealant-master .tnm-compare__circle, .sealant-master .tnm-compare__square {
  width: 63px;
  height: 64px;
}
@media (max-width: 1023px) {
  .sealant-master .tnm-compare__circle, .sealant-master .tnm-compare__square {
    width: 52px;
    height: 52px;
  }
}
.sealant-master .tnm-compare__circle {
  border-radius: 100%;
  background-color: #82D0F5;
}
.sealant-master .tnm-compare__square.orange {
  background-color: #E27E40;
}
.sealant-master .tnm-compare__square.green {
  background-color: #409D63;
}
.sealant-master .tnm-compare__square.purple {
  background-color: #C5A5CF;
}
.sealant-master .tnm-compare__slogan {
  align-self: center;
  margin-right: -54px;
  flex: 0 0 100px;
  font-weight: 800;
  font-size: 16px;
  line-height: 100%;
  color: #386892;
  z-index: 1;
}
@media (max-width: 1023px) {
  .sealant-master .tnm-compare__slogan {
    font-size: 14px;
  }
}
.sealant-master .tnm-compare__text {
  margin-top: 23px;
  max-width: 1090px;
}
.sealant-master .tnm-design .tnm-section__bg {
  display: flex;
  align-items: stretch;
}
@media (max-width: 450px) {
  .sealant-master .tnm-design .tnm-section__bg {
    flex-direction: column;
    align-items: stretch;
  }
}
.sealant-master .tnm-design .tnm-section__bg img {
  flex: 0 0 50%;
  height: 100%;
  width: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 450px) {
  .sealant-master .tnm-design .tnm-section__bg img {
    width: 100%;
    height: 50%;
  }
}
.sealant-master .tnm-design .tnm-section__bg:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 51vw;
  right: 50%;
  top: 0;
  background: linear-gradient(to bottom, #dddee0 0%, #dddee0 65%, #dcdcde 65%, #e0e0e2 65%, #dedee0 65%, #e0e0e2 65%, #dddddf 65%, #e0e0e2 65.5%, #ededef 65.5%, #eeeeee 66%, #ececec 73%, #eaeaea 73%, #e7e7e7 80%, #e7e7e9 83%, #e7e7e7 84%, #e5e5e5 84%, #e2e2e4 94%, #e0e0e0 94%, #dddee0 100%);
}
.sealant-master .tnm-design .tnm-section__bg:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 51vw;
  left: 50%;
  top: 0;
  background: linear-gradient(to bottom, #DCE5EE 65.5%, #EDFBFE 65.5%, #E5F2FB 66.5%, #dceaf5 92%, #dceaf5 96%, #dce9f9 96%, #dce9f9 97%, #dae8f3 97%, #dae7f7 100%);
  z-index: -1;
}
.sealant-master .tnm-design__content {
  display: flex;
  align-items: center;
}
@media (max-width: 450px) {
  .sealant-master .tnm-design__content {
    flex-direction: column;
    align-items: stretch;
  }
}
.sealant-master .tnm-design__item {
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  padding: 79px 0 82px 28px;
  gap: 88px;
}
@media (max-width: 1320px) {
  .sealant-master .tnm-design__item {
    padding: 50px 0 60px 20px;
    gap: 36px;
  }
}
@media (max-width: 899px) {
  .sealant-master .tnm-design__item {
    padding: 30px 0 30px 10px;
  }
}
@media (max-width: 599px) {
  .sealant-master .tnm-design__item {
    gap: 16px;
  }
}
@media (max-width: 450px) {
  .sealant-master .tnm-design__item {
    padding: 30px 0;
    justify-content: center;
    gap: 32px;
  }
}
.sealant-master .tnm-design__item + .tnm-design__item {
  justify-content: flex-end;
}
@media (max-width: 1320px) {
  .sealant-master .tnm-design__item + .tnm-design__item {
    justify-content: flex-start;
  }
}
@media (max-width: 450px) {
  .sealant-master .tnm-design__item + .tnm-design__item {
    justify-content: center;
  }
}
.sealant-master .tnm-design__item + .tnm-design__item .tnm-design__title {
  margin-right: -26px;
}
@media (max-width: 450px) {
  .sealant-master .tnm-design__item + .tnm-design__item .tnm-design__title {
    margin-right: 0;
  }
}
.sealant-master .tnm-design__img {
  width: 179px;
  flex: 0 0 auto;
}
@media (max-width: 899px) {
  .sealant-master .tnm-design__img {
    width: 160px;
  }
}
@media (max-width: 767px) {
  .sealant-master .tnm-design__img {
    width: 110px;
  }
}
@media (max-width: 599px) {
  .sealant-master .tnm-design__img {
    width: 70px;
  }
}
@media (max-width: 450px) {
  .sealant-master .tnm-design__img {
    width: 120px;
  }
}
.sealant-master .tnm-design__img img {
  width: 100%;
}
.sealant-master .tnm-catalog {
  padding: 92px 0 128px;
}
@media (max-width: 1320px) {
  .sealant-master .tnm-catalog {
    padding: 92px 0 80px;
  }
}
@media (max-width: 1023px) {
  .sealant-master .tnm-catalog {
    padding: 48px 0 60px;
  }
}
.sealant-master .tnm-catalog .tnm-section__bg:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100vw;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  background: #E9F0F3;
}
.sealant-master .tnm-catalog__items {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 67px 39px;
  margin-top: 75px;
}
@media (max-width: 1320px) {
  .sealant-master .tnm-catalog__items {
    gap: 50px 20px;
  }
}
@media (max-width: 1023px) {
  .sealant-master .tnm-catalog__items {
    margin-top: 48px;
  }
}
@media (max-width: 899px) {
  .sealant-master .tnm-catalog__items {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (max-width: 599px) {
  .sealant-master .tnm-catalog__items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.sealant-master .tnm-modal.hystmodal:before {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  backdrop-filter: blur(16px);
}
.sealant-master .hystmodal__window {
  margin: auto;
  width: 1440px;
  padding: 0 58px;
  background-color: transparent;
}
@media (max-width: 1320px) {
  .sealant-master .hystmodal__window {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 767px) {
  .sealant-master .hystmodal__window {
    padding: 0;
  }
}
.sealant-master .tnm-modal__content {
  position: relative;
  background-color: #fff;
}
.sealant-master .tnm-modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #272E31;
  cursor: pointer;
  transition: color 0.3s linear;
}
.sealant-master .tnm-modal__close:hover {
  color: #000;
}
.sealant-master .tnm-advantages {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 32px;
  margin-top: 29px;
}
@media (max-width: 1320px) {
  .sealant-master .tnm-advantages {
    gap: 20px;
    margin-top: 0;
  }
}
@media (max-width: 1199px) {
  .sealant-master .tnm-advantages {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media only screen and (max-width: 767px) {
  .sealant-master .tnm-advantages {
    gap: 12px;
  }
}
.sealant-master .tnm-advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
@media only screen and (max-width: 767px) {
  .sealant-master .tnm-advantages__item {
    gap: 5px;
  }
}
.sealant-master .tnm-advantages__text {
  font-weight: 600;
  font-size: 12px;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;
}
@media only screen and (max-width: 767px) {
  .sealant-master .tnm-advantages__text {
    font-size: 10px;
  }
}
.sealant-master .prod-modal {
  width: 100%;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3), 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
  max-height: calc(100vh - 50px);
  overflow: hidden;
  overflow-y: auto;
}
@media only screen and (max-width: 767px) {
  .sealant-master .prod-modal {
    max-height: 100vh;
    height: 100vh;
    height: 100dvh;
  }
}
.sealant-master .prod-modal::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: #E9EDF6;
}
@media only screen and (max-width: 767px) {
  .sealant-master .prod-modal::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
}
.sealant-master .prod-modal::-webkit-scrollbar-thumb {
  background: #B2BDC7;
  border-radius: 3px;
}
.sealant-master .prod-modal::-webkit-scrollbar-track {
  background: #E9EDF6;
  border-radius: 3px;
}
@media only screen and (max-width: 1023px) {
  .sealant-master .prod-modal .tnm-text {
    font-size: 14px;
  }
}
.sealant-master .prod-modal__inner {
  padding: 40px 80px 40px 40px;
  display: flex;
  gap: 40px;
}
@media (max-width: 1320px) {
  .sealant-master .prod-modal__inner {
    padding: 40px 50px 40px 20px;
    gap: 32px;
  }
}
@media (max-width: 899px) {
  .sealant-master .prod-modal__inner {
    padding: 32px 48px 32px 16px;
    gap: 24px;
  }
}
@media only screen and (max-width: 767px) {
  .sealant-master .prod-modal__inner {
    flex-direction: column;
    align-items: stretch;
    padding: 32px 16px;
    gap: 20px;
  }
}
.sealant-master .prod-modal__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  flex: 0 0 309px;
}
@media (max-width: 1320px) {
  .sealant-master .prod-modal__left {
    flex: 0 0 280px;
  }
}
@media (max-width: 899px) {
  .sealant-master .prod-modal__left {
    flex: 0 0 240px;
  }
}
.sealant-master .prod-modal__img {
  width: 182px;
  margin-left: 12.6%;
  margin-bottom: 5px;
}
@media (max-width: 899px) {
  .sealant-master .prod-modal__img {
    width: 140px;
  }
}
@media only screen and (max-width: 767px) {
  .sealant-master .prod-modal__img {
    margin-left: 5.6%;
  }
}
@media only screen and (max-width: 409px) {
  .sealant-master .prod-modal__img {
    width: 100px;
  }
}
.sealant-master .prod-modal__img img {
  width: 100%;
}
.sealant-master .prod-modal__volume {
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  text-align: center;
}
.sealant-master .prod-modal__btn {
  width: 100%;
}
.sealant-master .prod-modal__colors {
  display: flex;
  align-items: stretch;
  gap: 8px;
  width: 100%;
}
.sealant-master .prod-modal__color {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 34px;
  flex: 1 1 50%;
  padding: 8px 12px;
  font-weight: 600;
  font-size: 15px;
  line-height: 100%;
  border: 1px solid #272E31;
}
.sealant-master .prod-modal__color--white {
  background-color: #fff;
  border-color: #fff;
  color: #1B4052;
}
.sealant-master .prod-modal__color--black {
  background-color: #000;
  border-color: #000;
  color: #fff;
}
.sealant-master .prod-modal__right {
  flex: 1 1 auto;
  max-width: calc(100% - 309px - 40px);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 32px;
}
@media (max-width: 1320px) {
  .sealant-master .prod-modal__right {
    max-width: calc(100% - 280px - 32px);
    gap: 24px;
  }
}
@media (max-width: 899px) {
  .sealant-master .prod-modal__right {
    max-width: calc(100% - 240px - 24px);
  }
}
@media only screen and (max-width: 1023px) {
  .sealant-master .prod-modal__right {
    gap: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .sealant-master .prod-modal__right {
    display: contents;
  }
}
@media only screen and (max-width: 767px) {
  .sealant-master .prod-modal__header {
    order: -1;
    padding-right: 30px;
  }
}
.sealant-master .prod-modal__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;
  text-transform: uppercase;
}
@media (max-width: 1320px) {
  .sealant-master .prod-modal__title {
    font-size: 40px;
  }
}
@media (max-width: 899px) {
  .sealant-master .prod-modal__title {
    font-size: 32px;
  }
}
@media only screen and (max-width: 409px) {
  .sealant-master .prod-modal__title {
    font-size: 26px;
  }
}
.sealant-master .prod-modal__subtitle {
  font-weight: 600;
  font-size: 28px;
  line-height: 120%;
  text-transform: uppercase;
}
@media (max-width: 1320px) {
  .sealant-master .prod-modal__subtitle {
    font-size: 24px;
  }
}
@media (max-width: 899px) {
  .sealant-master .prod-modal__subtitle {
    font-size: 20px;
  }
}
@media only screen and (max-width: 409px) {
  .sealant-master .prod-modal__subtitle {
    font-size: 16px;
  }
}
.sealant-master .prod-modal--blue {
  background-color: rgba(99, 179, 229, 0.4);
}
.sealant-master .prod-modal--brown {
  background-color: rgba(171, 134, 68, 0.4);
}
.sealant-master .prod-modal--purple {
  background-color: rgba(175, 127, 173, 0.4);
}
.sealant-master .prod-modal--green {
  background-color: rgba(125, 175, 108, 0.4);
}
.sealant-master .prod-modal--grey {
  background-color: rgba(143, 147, 145, 0.4);
}
.sealant-master .prod-modal--black {
  background-color: rgba(35, 35, 35, 0.4);
}
.sealant-master .video-block {
  margin-left: calc((1440px - 100%) / -2);
}
@media (max-width: 1439px) {
  .sealant-master .video-block {
    margin-left: calc((100vw - 100%) / -2);
    padding: 0 15px;
    width: 100vw;
  }
}
.sealant-master .video-block video {
  position: relative;
  display: block;
  width: 100vw;
  max-width: 1440px;
  height: auto;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 1439px) {
  .sealant-master .video-block video {
    width: 100%;
  }
}
@media only screen and (min-width: 1401px) {
  .sealant-master .video-block video {
    position: relative;
  }
}
.sealant-master .block7 {
  background: #fff;
  padding-bottom: 60px;
}
@media (max-width: 768px) {
  .sealant-master .block7 {
    padding-bottom: 30px;
  }
}
.sealant-master .block7_content {
  max-width: 1440px;
  margin: 0 auto;
  padding: 85px 0 0;
}
@media (max-width: 899px) {
  .sealant-master .block7_content {
    padding: 48px 0 0;
  }
}
.sealant-master {
  /*

  @media (max-width: 1200px) {
  	.block7_content {
  		padding-left: 30px;
  		padding-right: 30px;
  	}
  }

  @media (max-width: 767px) {
  	.block7_content {
  		padding: 20px 20px 0;
  	}
  }

  @media (max-width: 480px) {
  	.block7_content {
  		padding: 20px 15px 0;
  	}
  }*/
}
.sealant-master .block7_title {
  font-size: 50px;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
}
.sealant-master .block7_title span {
  color: #aaa;
}
.sealant-master {
  /* Полезные материалы */
}
.sealant-master .section6 {
  position: relative;
  top: 0vh;
  left: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
  z-index: 15;
  will-change: transform, opacity;
  transform-style: preserve-3d;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: column nowrap;
  background: #fff;
  padding-top: 0;
}
.sealant-master .section6__title {
  width: 100%;
  position: relative;
  display: block;
  z-index: 25;
}
.sealant-master .accordions {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column nowrap;
  margin-top: 3.1833910035vw;
}
.sealant-master .accordion {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 1.937716263vw;
  display: block;
}
.sealant-master .accordion__intro {
  position: relative;
  cursor: pointer;
  font-style: normal;
  font-weight: 600;
  font-size: 1.937716263vw;
  line-height: 2.3529411765vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #191919;
  border-radius: 0;
  padding-top: 1.5916955017vw;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.sealant-master .accordion__intro p {
  position: relative;
  display: inline-block;
  width: 100%;
  font-style: normal;
  font-weight: 600;
  font-size: 1.937716263vw;
  line-height: 2.3529411765vw;
}
.sealant-master .accordion__intro .accordion__intro__img {
  position: relative;
  width: 4.0830449827vw;
  min-width: 4.0830449827vw;
  height: 4.0830449827vw;
  min-height: 4.0830449827vw;
  background: #F0F0F0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sealant-master .accordion__intro .accordion__intro__img svg {
  animation-name: rotationClose;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.sealant-master .accordion__active .accordion__intro .accordion__intro__img svg {
  animation-name: rotationOpen;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.sealant-master .accordion__content {
  max-height: 0;
  overflow: hidden;
  will-change: max-height;
  transition: all 0.25s ease-out;
  opacity: 0;
  padding-top: 0;
}
.sealant-master .accordion__active .accordion__content {
  background: #fff;
  opacity: 1;
  width: 100%;
}
.sealant-master .accordion__intro .accordion__intro__img:hover {
  background: #ED1C24;
  color: #fff;
  transition: background 0.3s ease;
}
.sealant-master .accordion__intro .accordion__intro__img:hover svg {
  fill: #fff;
}
.sealant-master .accordion__intro .accordion__intro__img:hover svg path {
  fill: #fff;
}
@keyframes rotationOpen {
  0% {
    transform-origin: 50% 50%;
    transform: rotate(0deg);
  }
  100% {
    transform-origin: 50% 50%;
    transform: rotate(180deg);
  }
}
@keyframes rotationClose {
  0% {
    transform-origin: 50% 50%;
    transform: rotate(180deg);
  }
  100% {
    transform-origin: 50% 50%;
    transform: rotate(0deg);
  }
}
.sealant-master .kley-landing-questions .accordions {
  width: 100%;
}
.sealant-master .kley-landing-questions .accordion {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 15px;
  display: block;
}
@media only screen and (max-width: 992px) {
  .sealant-master .kley-landing-questions .accordion {
    margin-bottom: 25px;
  }
}
.sealant-master .kley-landing-questions .accordion__intro {
  position: relative;
  cursor: pointer;
  color: #FFF;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 91.3%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 0;
  padding-top: 23px;
  border-top: 1px solid #ccc;
}
.sealant-master .kley-landing-questions .accordion__intro p {
  position: relative;
  display: inline-block;
  width: 100%;
  color: #191919;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 91.3%;
  margin-top: 0;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .sealant-master .kley-landing-questions .accordion__intro p {
    font-size: 24px;
  }
}
@media only screen and (max-width: 480px) {
  .sealant-master .kley-landing-questions .accordion__intro p {
    font-size: 22px;
  }
}
.sealant-master .kley-landing-questions .accordion__intro .accordion__intro__img {
  position: relative;
  width: 50px;
  min-width: 50px;
  height: 50px;
  min-height: 50px;
  background: #F0F0F0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .sealant-master .kley-landing-questions .accordion__intro .accordion__intro__img {
    width: 51px;
    min-width: 51px;
    height: 51px;
    min-height: 51px;
  }
}
.sealant-master .kley-landing-questions .accordion__intro .accordion__intro__img svg {
  animation-name: rotationClose;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  width: 12px;
  min-width: 12px;
  height: 12px;
  min-height: 12px;
}
.sealant-master .kley-landing-questions .accordion__intro .accordion__intro__img:hover {
  background: #EF444A;
  color: #fff;
  transition: background 0.3s ease;
}
.sealant-master .kley-landing-questions .accordion__intro .accordion__intro__img:hover svg {
  fill: #fff;
}
.sealant-master .kley-landing-questions .accordion__intro .accordion__intro__img:hover svg path {
  fill: #fff;
}
.sealant-master .kley-landing-questions .accordion__content {
  max-height: 0;
  overflow: hidden;
  will-change: max-height;
  transition: all 0.25s ease-out;
  opacity: 0;
  padding-top: 0;
}
.sealant-master .kley-landing-questions .accordion__active .accordion__intro .accordion__intro__img svg {
  animation-name: rotationOpen;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.sealant-master .kley-landing-questions .accordion__active .accordion__content {
  opacity: 1;
  width: 100%;
  margin-top: 23px;
}
.sealant-master .kley-landing-documents {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.sealant-master .kley-landing-documents .kley-landing-document {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  color: #191919;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-decoration: underline;
  transition: all 0.3s;
  margin-bottom: 15px;
}
.sealant-master .kley-landing-documents .kley-landing-document svg {
  width: 16px;
  min-width: 16px;
  margin-right: 5px;
}
.sealant-master .kley-landing-documents .kley-landing-document:hover {
  transition: all 0.3s;
  text-decoration: none;
  color: #EF444A;
}
.sealant-master .kley-landing-videos {
  position: relative;
  display: flex;
  width: calc(100% + 40px);
  align-items: stretch;
  flex-flow: row wrap;
  margin-left: -40px;
}
.sealant-master .kley-landing-videos__wrap {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 894px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 1024px) {
  .sealant-master .kley-landing-videos {
    width: calc(100% + 24px);
    margin-left: -24px;
    margin-bottom: 60px;
  }
}
@media only screen and (max-width: 767px) {
  .sealant-master .kley-landing-videos {
    width: calc(100% + 0px);
    margin-left: 0px;
    flex-flow: column nowrap;
    margin-bottom: 48px;
  }
}
.sealant-master .kley-landing-videos .kley-landing-video {
  position: relative;
  flex: 0 0 50%;
  max-width: calc(50% - 40px);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 40px;
  margin-bottom: 40px;
  cursor: pointer;
}
@media only screen and (max-width: 1024px) {
  .sealant-master .kley-landing-videos .kley-landing-video {
    max-width: calc(50% - 24px);
    margin-left: 24px;
    padding: 24px;
  }
}
@media only screen and (max-width: 767px) {
  .sealant-master .kley-landing-videos .kley-landing-video {
    flex: 0 0 100%;
    max-width: calc(100% - 0px);
    margin-left: 0px;
    margin-bottom: 24px;
  }
  .sealant-master .kley-landing-videos .kley-landing-video:last-child {
    margin-bottom: 0;
  }
}
.sealant-master .kley-landing-videos .kley-landing-video::before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 66.97%;
}
.sealant-master .kley-landing-videos .kley-landing-video:hover .video__play {
  transition: all 0.3;
  background: transparent;
  border: 1px solid #EF444A;
}
.sealant-master .kley-landing-videos .kley-landing-video:hover .video__play svg {
  fill: #EF444A;
}
.sealant-master .kley-landing-videos .kley-landing-video:hover .video__play svg path {
  fill: #EF444A;
}
.sealant-master .kley-landing-videos .kley-landing-video__preview {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
  z-index: 5;
  border-radius: 10px;
}
.sealant-master .kley-landing-videos .kley-landing-video__preview img,
.sealant-master .kley-landing-videos .kley-landing-video__preview picture {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.sealant-master .kley-landing-videos .kley-landing-video__play {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 8;
  width: 73px;
  height: 73px;
  border-radius: 50px;
  background: #EF444A;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@media only screen and (max-width: 767px) {
  .sealant-master .kley-landing-videos .kley-landing-video__play {
    width: 53px;
    height: 53px;
  }
}
.sealant-master .kley-landing-questions .fabrication__slide {
  margin: 0 20px;
}
.sealant-master .kley-landing-questions .slick-list {
  margin: 0 -20px;
  margin-bottom: 30px;
}
.sealant-master .kley-landing-questions .text__18 {
  color: #191919;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 119.8%;
  margin-bottom: 13px;
}
.sealant-master .kley-landing-questions .fabrication__slide__gallery {
  position: relative;
  width: 100%;
  display: block;
  overflow: hidden;
  margin-bottom: 13px;
}
.sealant-master .kley-landing-questions .title__32 {
  color: #191919;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 84.3%;
  letter-spacing: -0.8px;
}
@media (max-width: 767px) {
  .sealant-master .kley-landing-questions .title__32 {
    font-size: 20px;
  }
}
.sealant-master .kley-landing-questions .accordion__active .accordion__content p {
  padding: 0;
  margin: 0;
}
.sealant-master .kley-landing-questions .slarleft.slick-arrow {
  background: #ECEEF1;
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 15px;
  top: 30%;
  right: auto;
  z-index: 5;
}
.sealant-master .kley-landing-questions .slarright.slick-arrow {
  background: #ECEEF1;
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 15px;
  top: 30%;
  left: auto;
}
.sealant-master .slick-arrow {
  position: absolute;
  top: -42px;
  cursor: pointer;
}
.sealant-master .slarleft {
  right: 65px;
}
.sealant-master .slarright {
  right: 35px;
}
.sealant-master {
  /* Slider */
}
.sealant-master .slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.sealant-master .slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.sealant-master .slick-list:focus {
  outline: none;
}
.sealant-master .slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.sealant-master .slick-slider .slick-track,
.sealant-master .slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}
.sealant-master .slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.sealant-master .slick-track:before,
.sealant-master .slick-track:after {
  display: table;
  content: "";
}
.sealant-master .slick-track:after {
  clear: both;
}
.sealant-master .slick-loading .slick-track {
  visibility: hidden;
}
.sealant-master .slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
.sealant-master [dir=rtl] .slick-slide {
  float: right;
}
.sealant-master .slick-slide img {
  display: block;
  width: 100%;
  transition: opacity 0.3s;
}
.sealant-master .slick-slide.slick-loading img {
  display: none;
}
.sealant-master .slick-slide.dragging img {
  pointer-events: none;
}
.sealant-master .slick-initialized .slick-slide {
  display: block !important;
}
.sealant-master .slick-loading .slick-slide {
  visibility: hidden;
}
.sealant-master .slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.sealant-master .slick-arrow.slick-hidden {
  display: none;
}/*# sourceMappingURL=styles.css.map */